//
// 变量
// --------------------------------------------------


//== 颜色
//
//##

//** 文字
$color-red-num:             #dd1e32;
$color-999:                 #999999;
$color-666:                 #666666;
$color-333:                 #333333;
$color-active:              #f68020;
$color-describe:            #e4e3e3;
